@model AuthorSlider

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Update Author Slider Form </p>
                    <form class="forms-sample" method="Post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="Photo"></label>
                            <input asp-for="Photo" class="form-control" accept="image/*" placeholder="Photo">
                            <span class="text-danger" asp-validation-for="Photo"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AuthorName"></label>
                            <input asp-for="AuthorName" class="form-control" placeholder="Author Name">
                            <span class="text-danger" asp-validation-for="AuthorName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <textarea class="form-control" asp-for="Email" placeholder="Email"></textarea>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <button class="btn btn-success">Update</button>
                        <button asp-action="Index" class="btn btn-outline-secondary"> Go Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
